@use 'tokens' as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: $font-family-base;
  color: $color-text;
  background-color: $color-surface-alt;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  font-family: inherit;
}
